:root {
    --bg-primary: #181920;
    --accent-primary: #1f212e;
    --accent-secondary: #2a2c3b;
    --accent-tertiary: #35374a;
    --text-subtlish: #a5a7b8;
    --text-subtle: #727485;
    --text-dark: #505366;
    --text-secondary: #cccede;
    --text-primary: #dadde8;

    --btn-primary: #9355d9;
    --btn-primary-hover: #a264e8;
    --btn-secondary: #755cdd;
    --btn-secondary-hover: #8068e3;
    --btn-tertiary: #6f69ef;
    --btn-tertiary-hover: #7771f5;
    --btn-four: #3b3170;
    --btn-four-hover: #453982;
    
    --border-primary: #2a2c3b;
    --border-secondary: #35374a;
    --border-tertiary: #373b57;
}

body {
    margin: unset;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: var(--bg-primary);
    color: var(--text-subtlish);
    font-family: Inter, sans-serif;
    font-size: 14pt;
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#root > nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 15vw;
    padding: 20px;
    border-right: 1px solid var(--border-primary);
}

#root > nav > button[data-page="settings"] {
    margin-top: auto;
}

#root > section {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    border-bottom: 1px solid var(--border-primary);
}

h1,h2,h3,h4,h5,h6 {
    margin: unset;
    color: var(--text-secondary)
}

h1 {
    color: var(--text-primary);
    font-size: x-large;
}

p {
    color: var(--text-subtle);
    font-size: smaller;
    margin:unset;
}

input, select, textarea {
    background: var(--accent-primary);
    border: 1px solid var(--border-primary);
    color: var(--text-secondary);
    outline: none;
    border-radius: 5px;
    padding: 4px 6px;
}
input:disabled, select:disabled, textarea:disabled {
    color: var(--text-dark);
    background: var(--bg-primary);
}
input:focus, select:focus {
    background: var(--accent-secondary);
    border: 1px solid var(--border-secondary);
}

dialog {
    background: var(--bg-primary);
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    color: var(--text-subtle);

    .lucide {
        width: 18px;
        height: 18px;
    }
}

.sort-button {
    text-transform: capitalize;
}
.sort-button.selected {
    background: var(--accent-primary)
}

button {
    background: none;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    color: var(--text-subtle);
    padding: 5px 10px;
    padding-left: 10px;
    cursor: pointer;
    font-size: initial;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

button.close-button {
    padding: 2px 5px;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    right: 5px;
    justify-content: center;
}


button:hover {
    background-color: var(--accent-primary);
}
main {
    padding: 10px 20px;
    font-size: initial;
}

#post-filters {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    .lucide {
        width: 18px;
        height: 18px;
    }

    label {
        height: 18px;
    }
}

.post-card {
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;

    .lucide {
        width: 18px;
        height: 18px;
    }
}

#post-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 10px;
}

#category-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-card {
    text-transform: capitalize;
    padding: 5px 10px;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    height: 36px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;

    .lucide {
        width: 18px;
        height: 18px;
    }

    input[type="text"] {
        font-size: 11px;
    }

    button {
        padding-left: unset;
        padding: 2px 5px;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center {
    justify-content: center;
    align-items: center;
}

.input-grid {
    display: grid;
    grid-template-columns: 6vw 20vw 6vw 20vw;
    row-gap: 5px;
    column-gap: 20px;
    align-items: center;
}

.error-message {
    text-align: center;
    color: #d97e7e;
}

.category-input-list {
    position: absolute;
    top: calc(100% + 2px);
    background: var(--accent-primary);
    border: 1px solid var(--border-primary);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    gap: 4px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 4;

    span {
        font-size: small;
    }

    span.post-count {
        color: var(--text-dark);
        margin-left: auto;
    }

    button {
        background: var(--accent-secondary);
        border: 1px solid var(--border-secondary);
        color: var(--text-subtlish);
    }

    button.hovered {
        background: var(--btn-primary);
        border: 1px solid var(--btn-secondary);
    }
}


.right {
    position: absolute;
    right: 6px;
}
.top-right {
    position: absolute;
    top: 2px;
    right: 2px;
}

.bottom-right {
    position: absolute;
    bottom: 4px;
    right: 4px;    
}

.hidden-parent .hidden-child {
    visibility: hidden;
}

.hidden-parent:hover .hidden-child {
    visibility: visible;
}

.tag-editor {
    flex-wrap: wrap;
    grid-column: span 3;

    button {
        border: none;
        padding: 5px 5px;
    }

    .lucide {
        width: 16px;
        height: 16px;
    }
}

.tag {
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    padding: 0px 10px;

    padding-right: 2px;
}

.settings-container {
    margin: 20px;
    border: 1px var(--border-primary) solid;
    border-radius: 5px;
    height: calc(100vh - 85px);

    nav {
        min-width: 12%;
        padding: 5px;
        border-right: 1px var(--border-primary) solid;
        height: 100%;

        button {
            border: unset;
        }
    }

    main {
        width: 100%;
        height: 100%;
    }

    .lucide {
        width: 18px;
        height: 18px;
    }
}

.page-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.token-grid {
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.1fr 0.1fr;
    gap: 5px;

    button {
        justify-content: center;
    }

    input[type="checkbox"] {
        width: min-content;
        margin: auto;
    }

    .api-token {
        display: flex;
        align-items: center;

        border-bottom: 1px var(--border-primary) solid;
        border-radius: 5px;
        padding: 0px 5px;
    }
}
